@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "@nextui-org/theme/dist/index.css"; */


.my_container_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  max-width: 400px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.my_card_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}


.my_text { 
  font-size: 0.8rem;
  font-weight: 400;
  color: #333;
}

.my_collapseContainer {
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.my_action {
  display: flex;
  padding: 0.4375rem 0.9375rem;
  justify-content: space-between;
  gap: 1.25rem;
  background-color: #f9f9f9;
  cursor: pointer;
}

.my_col {
  display: flex;
  justify-content: center;
}

.my_title {
  font-weight: bold;
}

.my_chevronWrap {
  display: flex;
  justify-content: flex-end;
}

.my_content {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.my_container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  gap: 4px;
}


.my_statusChip {
  display: inline-block;
  padding: 0.25em 0.75em;
  border-radius: 12px;
  width: fit-content;
  font-size: 0.875em;
  color: white;
}

.my_statusPending {
  background-color: #e5c51c;
}

.my_statusRejected {
  background-color: #FF6347;
}

.my_statusApproved {
  background-color: #32CD32;
}

.my_statusDefault {
  background-color: #D3D3D3;
}
